header nav > ul {
  display: flex;
  position: relative;
}
header nav > ul > li {
  max-width: 300px;
  text-align: end;
  line-height: 36px;
  padding: 4px;
  padding: 52px 0;
  text-underline-position: under;
}
header nav ul a {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Serif Display';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  opacity: 0.87;
}

header nav > ul > li.on > a,
header nav > ul > li:hover > a {
  text-decoration: underline;
  transition: all 0.5s ease;
}

header nav ul.depth_2 {
  height: 0;
  position: absolute;
  top: 144px;
  z-index: 5;
  overflow: hidden;
  background: #fff;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
header nav ul.depth_2 li {
  text-align: left;
  height: fit-content;
}

header nav ul.depth_2 li a {
  padding: 2px 40px 2px 24px;
  font-size: 16px;
  height: fit-content;
  text-wrap: nowrap;
}

header nav ul li:hover > .depth_2 {
  height: fit-content;
}
header nav ul.depth_2 li:hover > a {
  color: #e2c085;
}
